.avatar-container {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: radial-gradient(circle at 50% 50%, #202033, #0a0a12);
    box-shadow:
        inset 0 4px 8px rgba(0, 0, 0, 0.6),
        0 2px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .avatar {
        transform: translate(-50%, -50%) scale(1.05);
    }

    .avatar {
        position: absolute;
        top: 60%;
        left: 50%;
        height: 130%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease;
    }
}
