:host {
    display: contents;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    height: 3rem;
    width: auto;
    cursor: pointer;
}

.nickname-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    user-select: none;
    margin-right: 0.5rem;

    .nickname {
        font-size: 1.15rem;
    }

    .discriminator {
        font-size: 0.85rem;
        color: rgb(137 137 227);
    }
}
