<nb-layout-header fixed>
    <div class="header-content">
        <div class="left">
            <img src="favicon.ico" alt="Logo" class="logo" />

            <nb-form-field class="ml-sm">
                <input
                    [(ngModel)]="search"
                    (keyup.enter)="doSearch()"
                    type="text"
                    i18n-placeholder="@@core.search"
                    placeholder="Search"
                    nbInput
                />
                <button nbSuffix nbButton ghost (click)="doSearch()">
                    <nb-icon
                        icon="search-outline"
                        pack="eva"
                        i18n-aria-label="@@core.search"
                        aria-label="Search"
                    ></nb-icon>
                </button>
            </nb-form-field>
        </div>

        <div class="right">
            @if (usersStore.isLoggedIn()) {
                <nb-user name="John Doe" title="Engineer"></nb-user>
            } @else {
                <button nbButton ghost (click)="doLogin()">
                    <nb-icon
                        icon="power-outline"
                        pack="eva"
                        i18n-aria-label="@@core.login"
                        aria-label="Login"
                    ></nb-icon>
                </button>
            }
        </div>
    </div>
</nb-layout-header>
