<nb-layout-header fixed>
    <div class="header-content">
        <div class="left">
            <img src="favicon.ico" alt="Logo" class="logo" />

            <nb-search type="rotate-layout"></nb-search>
        </div>

        <div class="right">
            @if (usersStore.isLoggedIn()) {
                <nb-user
                    [name]="usersStore.user()?.nickname!"
                    [picture]="usersStore.user()?.avatarUrl!"
                    size="large"
                ></nb-user>
            } @else {
                <button nbButton ghost (click)="doLogin()">
                    <nb-icon
                        icon="power-outline"
                        pack="eva"
                        i18n-aria-label="@@core.login"
                        aria-label="Login"
                    ></nb-icon>
                </button>
            }
        </div>
    </div>
</nb-layout-header>
