:host {
    display: contents;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    height: 3rem;
    width: auto;
}
